.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    margin-top: 2.5rem;
}

.profile-card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 1rem;
}

.profile-header img {
    width: 100px;
    border-radius: 50%;
}

.profile-content h3,
p {
    margin: 10px 0;
    color: #333;
}

.profile-body h2 {
    color: #0D2B37;
}

.profile-desc {
    color: #777;
    font-size: 14px;
}

.email {
    color: #0D2B37;
    text-decoration: underline;
}

.btn {
    background: #0D2B37;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background: #218838;
}

.messages,
.notific,
.specialty {
    background-color: #ffffff;
    border: 0.01rem solid #e0e0e0;
    border-radius: 1rem;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 1rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    margin-bottom: 2rem;
}
.messages h3,
.notific h3,
.specialty h3{
    color: #0D2B37;
    text-align: center;
    margin-left: 0;
}
.message-count {
    font-size: 24px;
    font-weight: bold;
    color: #0d2b37b6;
}

.message-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    background: #0D2B37;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-weight: bold;
}

.notific ul,
.speciality ul {
    list-style: none;
    padding: 0;
}

.notific ul li,
.speciality ul li {
    margin: 8px 0;
}
body.dark-theme .specialty,
body.dark-theme .notific,
body.dark-theme .messages,
body.dark-theme .profile-card{
    background-color: #181818;
    box-shadow: 0 0 5px rgb(80, 80, 80);
    color: white  ;
}
body.dark-theme .profile-card .profile-content h2{
    -webkit-text-fill-color: white;
}
@media (max-width: 768px) {
    .dashboard-container {
        grid-template-columns: 1fr;
    }
}