/* Overall Layout */
.settings-container {
  display: flex;
  height: 100vh;
  justify-content: center;
}
.settings-container h2{
  color: #007BFF;
  margin-left: 3rem;
}
.settings-sidebar {
  width: 550px;
  background: #007BFF;
  color: white;
  padding: 20px;
}

.settings-sidebar h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

.settings-sidebar ul {
  list-style: none;
  padding: 0;
}

.settings-sidebar li {
  padding: 12px 0;
  font-size: 16px;
  cursor: pointer;
}
.settings-container .message{
  margin-top: 3rem;
  /* margin-left: -5rem; */
  color: red;
}
.settings-content {
  margin-top: 4rem;
  margin-left: -7rem;
  justify-content: center;
  flex: 1;
  padding: 30px;
}

.settings-section {
  background: white;
  width: 50rem;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.settings-section h3 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
  color: #343A40;
  margin-left: 0rem;
}

/* Input Fields */
.settings-section label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #333;
  margin-left: 0rem;
  margin-bottom: 1rem;
}

.settings-section input {
  margin-top: 1rem;
  width: 100%;
  max-width: 400px; /* Prevents oversized inputs */
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Buttons */
.settings-section button {
  background: #007BFF;
  color: white;
  padding: 12px 18px;
  border: none;
  cursor: pointer;
  margin-top: 0rem;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s;
}
.settings-section .checkbox{
  width: 1rem;
  margin-left: 1rem;
  /* margin-top: 1rem; */
}
.settings-section button:hover {
  background: #0056b3;
}
body.dark-theme .settings-section{
  background-color: #38383894;
  color: white;
}
body.dark-theme .settings-section label{
  color: white;
}
body.dark-theme .settings-section .checkbox{
  color: white;
  width: 1rem;
  margin-left: 1rem;
  margin-top: 0rem;
}
body.dark-theme .settings-section button{
  background-color: #383838;
  color: white;
}
body.dark-theme .settings-section button:hover{
  background-color: #202020;
  color: white;
}